[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "${{ values.python_version }}"

[packages]
common = {editable = true, path = "src/common"}
aws-lambda-powertools = "*"
{% if values.is_crud -%}
boto3-stubs = { extras = ["apigateway", "dynamodb" ], version = "*"}
{% else -%}
boto3-stubs = { extras = [ {% if values.has_s3 %}"s3",{% endif %} {% if values.has_sns %}"sns",{% endif %} {% if values.has_sqs %}"sqs",{% endif %} {% if values.has_eventbridge %}"events",{% endif %} {% if values.has_cloudwatch_alarm %}"cloudwatch",{% endif %} {% if values.has_cloudwatch_logs %}"logs",{% endif %} {% if values.has_config %}"config",{% endif %} {% if values.has_ddb %}"dynamodb",{% endif %} ], version = "*"}
{%- endif %}

[dev-packages]
cfn-lint = "*"
flake8 = "*"
genson = "*"
jsonschema = "*"
json2python-models = "*"
{% if values.is_crud -%}
moto = {extras = ["apigateway", "dynamodb"], version = "*"}
{% else -%}
moto = { extras = [ {% if values.has_s3 %}"s3",{% endif %} {% if values.has_sns %}"sns",{% endif %} {% if values.has_sqs %}"sqs",{% endif %} {% if values.has_eventbridge %}"events",{% endif %} {% if values.has_cloudwatch_alarm %}"cloudwatch",{% endif %} {% if values.has_cloudwatch_log %}"logs",{% endif %} {% if values.has_config %}"config",{% endif %} {% if values.has_ddb %}"dynamodb",{% endif %} ], version = "*"}
{% endif -%}
mypy = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-flake8 = "*"
pytest-mock = "*"
pytest-mypy = "*"
pytest-pylint = "*"
tox = "*"

[scripts]
test = "pytest -vv --cov src --cov-report term-missing --cov-fail-under 95 tests"
test-unit = "pytest -vv --cov src --cov-report term-missing --cov-fail-under 95 tests/unit"
test-int = "pytest -vv --cov src --cov-report term-missing --cov-fail-under 95 tests/integration"
flake8 = "pytest -vv --flake8"
pylint = "pytest -vv --pylint"
mypy = "pytest -vv --mypy"

